.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

table{
  width: 100%;
}

.day{
  width: 190px;
  height: 190px;
  border:1px solid #00000026;
}

.currentDay{
  width: 190px;
  height: 190px;
  border:1px solid black;
  background: #eaeaf3;
}


